<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Adetic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <div class="menu">
            <div class="trois"></div>
            <div class="trois"></div>
            <div class="trois"></div>
        </div>
        <img src="./static/logo-adetic.jpeg">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('agence') }}">Agence</a></li>
                <li><a href="{{ url_for('projets') }}">Projets</a></li>
                <li><a href="{{ url_for('carrieres') }}">Carrières</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Nos Articles</h2>
        <p>Suivez nos réflexions sur les tendances technologiques.</p>
    </main>
    <p style="font-size: 20px; font-weight: bold; color: green;text-align: center;">Nos articles</p>
    <div class="grandblog">
            {% for blog in blogs %}
            <div class="card-container">
                <div class="card">
                    <img src="{{ url_for('static', filename=blog.image) }}" alt="Image du blog" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">{{ blog.title }}</h2>
                        <p class="card-text">{{ blog.content[:150] }}...</p>
                        <a href="{{ url_for('show_blog', blog_id=blog.id) }}">Lire plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    
    <div class="grandframe">
        <p style="font-size: 20px; font-weight: bold; color: green;">Nos articles sur facebook</p>
    <div class="framefb">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAdetic.td%2Fposts%2Fpfbid0fdEKfEAKW2xHeLNcgz4em42FjT5Sr1mrJXDrwegJsuJekpYeee5Go24BrRR4qifCl&show_text=true&width=500" width="300" height="429" style="border:none;overflow:hidden; margin: 10px;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAdetic.td%2Fposts%2Fpfbid0SERHCtNVr7DjBKgYEVC1UDc5K2eKKE6jHnAkKRbtMkgMLPRE5BTf3Y5WivKm5Sujl&show_text=true&width=500" width="300" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAdetic.td%2Fposts%2Fpfbid0B1TLMr4SJQ7u6BcC35dkP5utdhLQfRBxmbabd7aCNQekS12qhiAj7XXDVqPvkQfLl&show_text=true&width=500" width="300" height="429" style="border:none;overflow:hidden; margin: 10px;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    </div>

    <div class="reseaux">
       <ion-icon name="mail-outline" class="mail"></ion-icon>
        <p class="mail-text">info@localhost 66200071</p>
        <ion-icon name="location-outline" class="location"></ion-icon>
        <p class="location-text">Avenue du Colonel Hassan Mousal Kourda</p>
        <a href="https://www.facebook.com/Adetic.td"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
        <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
    <footer>
        <p>&copy; 2024 Adetic - Tous droits réservés.</p>
    </footer>

<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script>
            const li = document.querySelectorAll('nav'); // Sélectionne tous les éléments <li> dans le <nav>
            const menu = document.querySelectorAll('.menu'); // Sélectionne tous les éléments avec la classe .menu

        // Boucle sur chaque élément du menu
          menu.forEach(element => {
            element.addEventListener('click', () => {
                // Boucle sur chaque <li> dans le <nav> et applique le toggle du style
                li.forEach(item => {
                    // Si le style display est 'none' ou vide (par défaut), alors on l'affiche, sinon on le cache
                    if (item.style.display === 'block') {
                        item.style.display = 'none'; // Cache l'élément
                    } else {
                        item.style.display = 'block'; // Affiche l'élément
                    }
                });
            });
        });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
