<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projets - Adetic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="menu">
            <div class="trois"></div>
            <div class="trois"></div>
            <div class="trois"></div>
        </div>
        <img src="./static/logo-adetic.jpeg">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('agence') }}">Agence</a></li>
                <li><a href="{{ url_for('projets') }}">Projets</a></li>
                <li><a href="{{ url_for('carrieres') }}">Carrières</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <h2>Nos Projets</h2>
        <p>Découvrez les projets sur lesquels nous travaillons.</p>
    </main>

    <div class="projets">
        <h3 style="font-size: 20px; font-weight: bold; color: green;">Nos Projets</h3>
        <p style="font-weight: bold;">- Projet de systeme de communication Electronique de l'Etat.</p>
        <p style="font-weight: bold;">- Projet d'hebergement web.</p>
        <p style="font-weight: bold;">- Projet de développement des sites web de l'Etat.</p>
        <p style="font-weight: bold;">- Projet de développement de domaine .td.</p>
        <p style="font-weight: bold;">- Projet d'internet eXchange Point (IXP).</p>
    </div>

    <div class="reseaux">
        <ion-icon name="mail-outline" class="mail"></ion-icon>
        <p class="mail-text">info@localhost 66200071</p>
        <ion-icon name="location-outline" class="location"></ion-icon>
        <p class="location-text">Avenue du Colonel Hassan Mousal Kourda</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
    </div>

    <footer>
        <p>&copy; 2024 Adetic - Tous droits réservés.</p>
    </footer>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script>
            const li = document.querySelectorAll('nav'); // Sélectionne tous les éléments <li> dans le <nav>
            const menu = document.querySelectorAll('.menu'); // Sélectionne tous les éléments avec la classe .menu

        // Boucle sur chaque élément du menu
          menu.forEach(element => {
            element.addEventListener('click', () => {
                // Boucle sur chaque <li> dans le <nav> et applique le toggle du style
                li.forEach(item => {
                    // Si le style display est 'none' ou vide (par défaut), alors on l'affiche, sinon on le cache
                    if (item.style.display === 'block') {
                        item.style.display = 'none'; // Cache l'élément
                    } else {
                        item.style.display = 'block'; // Affiche l'élément
                    }
                });
            });
        });

        </script>
</body>
</html>
