<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agence - Adetic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="menu">
            <div class="trois"></div>
            <div class="trois"></div>
            <div class="trois"></div>
        </div>
        <img src="./static/logo-adetic.jpeg">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('agence') }}">Agence</a></li>
                <li><a href="{{ url_for('projets') }}">Projets</a></li>
                <li><a href="{{ url_for('carrieres') }}">Carrières</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <h2>Equipe d'Adetic</h2>
        <p>Les membres de l'agence a l'adetic.</p>
    </main>
    <div class="equipe">
        <p style="font-size: 20px; font-weight: bold; text-align: center;">
            Notre Equipe
        </p>

        <div class="lesdgs">
            <div class="dg">
              <img src="./static/dgmot.jpeg">
              <p>Mr ADOUM DJIMET SABOUN<br>Le Directeur Général</p>
            </div>
            <div class="dg-adjoint">
              <img src="./static/dg-adjoint.jpeg">
              <p>Mr ABDRAMAN TOM HAMID<br>Le Directeur Général Adjoint</p>
            </div>
        </div>
    <div class="lesdrs">
     <div class="drs4">
        <div class="dr-item">
            <img src="./static/dr-ip.jpeg" alt="Dr IP">
            <p>Mme TOMBOYE IBRAHIM MAHAMAT<br>La Directrice des Noms de Domaine et des Adresses IP</p>
        </div>
        <div class="dr-item">
            <img src="/static/dr-tic.jpeg" alt="Dr TIC">
            <p>Mr. KELO ERKOUMA ABINAKOU<br>Le Directeur des Infrastructures des TICS</p>
        </div>
        <div class="dr-item">
            <img src="/static/dr-plan.jpeg" alt="Dr Plan">
            <p>Dr ZAKI SABIT<br>Le Directeur des Etudes et de la Planification</p>
        </div>
        <div class="dr-item">
            <img src="/static/drh.jpeg" alt="DRH">
            <p>Mme DEBORA DOKHONMO<br>La Directrice des Ressources Humaines</p>
        </div>
     </div>
    </div>


    <div class="lesdrs2">
     <div class="drs4">
        <div class="dr-item">
            <img src="./static/daf.jpeg" alt="Dr IP">
            <p>Mr MAHAMAT YOUSSOUF<br>Le Directeur Financier et Comptable</p>
        </div>
        <div class="dr-item">
            <img src="/static/drh.jpeg" alt="Dr H">
            <p>Mme KADIDJA HARSOU ABBAS<br>Le Directeur du Service Universel et du Suivi des Travaux</p>
        </div>
        <div class="dr-item">
            <img src="/static/drh.jpeg" alt="DAJ">
            <p>Mme ZAHRA JEANNETTE SIDICK<br>Le Directeur des Affaires Juridiques</p>
        </div>
        <div class="dr-item">
            <img src="/static/dcri.jpeg" alt="dcri">
            <p>Mr HISSEIN ISSA ROZI<br>Le Directeur de la Communication et <br>des Relations Internationales</p>
        </div>
     </div>
    </div>



    

    <div class="reseaux">
        <ion-icon name="mail-outline" class="mail"></ion-icon>
        <p class="mail-text">info@localhost 66200071</p>
        <ion-icon name="location-outline" class="location"></ion-icon>
        <p class="location-text">Avenue du Colonel Hassan Mousal Kourda</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
    </div>

    <footer>
        <p>&copy; 2024 Adetic - Tous droits réservés.</p>
    </footer>


        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script>
            const li = document.querySelectorAll('nav'); // Sélectionne tous les éléments <li> dans le <nav>
            const menu = document.querySelectorAll('.menu'); // Sélectionne tous les éléments avec la classe .menu

        // Boucle sur chaque élément du menu
          menu.forEach(element => {
            element.addEventListener('click', () => {
                // Boucle sur chaque <li> dans le <nav> et applique le toggle du style
                li.forEach(item => {
                    // Si le style display est 'none' ou vide (par défaut), alors on l'affiche, sinon on le cache
                    if (item.style.display === 'block') {
                        item.style.display = 'none'; // Cache l'élément
                    } else {
                        item.style.display = 'block'; // Affiche l'élément
                    }
                });
            });
        });

        </script>
</body>
</html>
